*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black;
    color: white;
    font-family: Arial, Helvetica Neue, sans-serif;
}

/* HEADER */
header {
    background: black;
    background-size: 100%;
    background-position: center;
    height: 10px;
    padding: 20px;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header .logo a{
    background-image: url("images/covid\ banner.png");
    background-repeat: no-repeat;
    background-size: 100px;
    display: inline-block;
    height: 80px;
    left: -320px;
    position: relative;
    text-indent: -9999999px;
    top: -14px;
    width: 300px;
}

nav li{
    list-style-type: none;
}
#mapid {
    height: 90vh;
    position: relative;
}

#sidebar {
    background-color: lightgray;
    width: 150px;
    height: 90vh;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 2000;
}
#sidebar.active{
    left: 0px;
}

#sidebar .toggleBtn {
    position: absolute;
    left: 149px;
    top: 1px;
}

#sidebar .toggleBtn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
}
.timeControls {
    height: 2vh;
    width: 25vh;
    margin: 10px;
}

.states{
    font-size: small;
    margin: 10px;
}

/* FOOTER */
/*footer{
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}*/